/* browser */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rebeccapurple; */
}
body{
    overflow-x: hidden;

}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/*-----------
  scrollbar
---------- */

::-webkit-scrollbar {
  width: 5px;
  background-color: #111318;
}


 
::-webkit-scrollbar-thumb {
  background: #fff; 
  border-radius: 10px;

}

/* ---------------
  copy color
-------------*/
::-moz-selection { 
  color: white;
  background: black;
}

::selection {
  color: #FFFFFF;
  background: black;
}




/*------- header text -------- */




svg text {
  font-family: 'Hikou Outline';
  letter-spacing: 2px;
  stroke: whitesmoke;
  font-size: 5.3vw;
  font-weight: 500;
  stroke-width: 0.8;
  animation-delay: 0s !important;
  animation: textAnimate 10s infinite;
};

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset:  20%;
    fill:hsl(189, 68%, 75%)

  }
  
  50% {
    stroke-dasharray: 25% 0;
    stroke-dashoffset:  10%;
    fill:#1D2029

  }
  
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: hsla(189, 68%, 75%,0%)
  }
  
};

/*----------------- side nav --------------  */

.MuiPaper-elevation16{}
.MuiDrawer-paperAnchorLeft{
  background-color: #1D2029 !important
}

/* ---------- review section -----------*/

.review-quote{
    position: absolute;
    background: rgba(0,0,0,0.5),
}
 /* slider */
 .slick-next,.slick-prev{
     display: none !important;
 }

 /* tab panel */
 .css-1aquho2-MuiTabs-indicator{
   background-color: #98a1bc !important;
 }

/* header text */
 .header-title{
  color: white;
text-transform: uppercase;
font-weight: 600 !important;
letter-spacing: 3px !important;
  /* margin-top: 500px; */
   font-family: 'Nunito', sans-serif;
 }

 /* cart prodcut on cart drawer */
 .cart-product:hover{
   background-color: #F6F9FC;
 };

 /* cart drawer */
.MuiDrawer-paperAnchorRight{
  background-color: #2467aa !important;
}
 /* -------------------
    search box
-------------------*/

#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
  -webkit-transform: translate(0px, -100%) scale(0, 0);
     -moz-transform: translate(0px, -100%) scale(0, 0);
      -ms-transform: translate(0px, -100%) scale(0, 0);
       -o-transform: translate(0px, -100%) scale(0, 0);
          transform: translate(0px, -100%) scale(0, 0);    
  opacity: 0;
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
   -ms-transform: translate(0px, 0px) scale(1, 1);
    -o-transform: translate(0px, 0px) scale(1, 1);
        transform: translate(0px, 0px) scale(1, 1); 
opacity: 1;
z-index: 106;
display: block;
}
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  transition: 0.8s;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:rgba(0,0,0,0.5);
}
#search input[type="search"] {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -51px;
  width: 60%;
  margin-left: 20%;
  color: rgb(206, 201, 201);
  background: transparent;
  border-top: 1px solid rgba(255, 255, 255, .8);
  border-bottom: 2px solid rgba(255, 255, 255, .5);
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  font-size: 40px;
  font-family: Roboto;
  font-weight: 300;
  text-align: center;
  outline: none;
  padding: 10px;
}
.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.overlay .closebtn {
  position: absolute;
  top: 10%;
  right: 45px;
  font-size: 60px;
  z-index: 99999999999;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

.overlay button:hover {
  background: #bbb;
}

/* ---------------------
  login box 
---------------*/
.login-form,.register-form,.contact-section, input,textarea,textarea::placeholder,::placeholder{
  color: #98a1bc;
};

/* ---------------------
  payment gatway box
---------------------*/
.payment-form{
  width: 100px;
  height: 100px;
  background-color: red !important;
  display: flex;
  align-items: center;
};

/* -----------------------
pagination selected button
-------------------*/
.selected{
  color: red !important;
}


  /* ----------
    FOTTER
------------- */
footer a {
  display: block;
  text-decoration: none;
  color: #98a1bc;
  margin-bottom: 10px;
};

.contact-section{
  /* padding: 0 !important; */
}
.contact-section input{}
/*--------------------
    MEDIA QUERY
-------------------*/

@media only screen and (max-width: 600px) {

  /* cycle product */
.cycle-details-modal{
  width: 100% !important; 
}
  .cycle-container{
  /* padding: 0 !important; */
};
/* user feedback */
.user-feedback{
  width: 100% !important;
}

/* contact us */

.google-map{
  width: 100% !important;
};
.contact-section{
  padding: 0px !important;
}
.contact-section{
  padding: 0 !important;
};



}